body {
    margin: 0px;
}

header {
    background-color: rgb(245, 86, 86);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 100px;
}

.head {
    text-align: center;
    font-size: 30px;
    color: white;
    margin: -8px;
    padding: 40px;
}

